* text=auto

# Sources
*.c     text linguist-language=c         diff=c
*.h     text linguist-language=c         diff=c
*.inl   text linguist-language=c         diff=c
*.md    text linguist-language=markdown  diff=markdown
*.bat   text linguist-language=shell     diff=shell
*.sh    text linguist-language=shell     diff=shell
*.vs    text linguist-language=glsl      diff=glsl
*.fs    text linguist-language=glsl      diff=glsl
*.rc    text

# Compiled Object files
*.o     binary

# Compiled Dynamic libraries
*.o     binary
*.lib   binary

# Compiled Static libraries
*.a     binary
*.lib   binary

# Executables
*.exe   binary
*.out   binary
*.app   binary

# Images
*.ico   binary
*.png   binary
