*       text linguist-vendored=false

# Sources
*.c     text linguist-language=c         diff=c
*.h     text linguist-language=c         diff=c
*.inl   text linguist-language=c         diff=c
*.cpp   text linguist-language=c++       diff=c++
*.md    text linguist-language=Markdown  diff=Markdown

# Images
*.ico   binary
*.png   binary
