[submodule "third_party/imbase"]
	path = third_party/imbase
	url = https://github.com/csprite/imbase
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/csprite/json
[submodule "third_party/log.c"]
	path = third_party/log.c
	url = https://github.com/csprite/log.c
[submodule "data/languages"]
	path = data/languages
	url = https://github.com/csprite/languages
[submodule "third_party/filesystem"]
	path = third_party/filesystem
	url = https://github.com/csprite/FileSystem
[submodule "third_party/simpleini"]
	path = third_party/simpleini
	url = https://github.com/brofield/simpleini
[submodule "third_party/sfd"]
	path = third_party/sfd
	url = https://github.com/csprite/sfd
