*.o
*.d
*.rc
./*.ini
*.exe
*.swp
*.out
*.inl
*.log
*~
*.obj
csprite
font2inl
image2inl
.sconsign.dblite
.sconf_temp
imgui.ini
config.log
.DS_Store
xcuserdata/
todo
.vimrc
.SRCINFO
data/icons/
data/icon.ico

build/
.cache/

