[Desktop Entry]
Type=Application
Name=csprite
Comment=A tiny pixel art tool
GenericName=pixel editor
Categories=Graphics;2DGraphics;RasterGraphics
Icon=csprite
Exec=csprite %U
TryExec=csprite
Terminal=false
StartupNotify=false
StartupWMClass=csprite
MimeType=image/jpeg;image/png;
